# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite DB
*.db

# VS Code
.vscode/

# Environments
.env
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Misc
*.log
